body*{margin:0px;padding:0px;}
.inc{width:80%;margin-right:auto;margin-left:auto;height:4em; border-radius:7px;margin-left:10%;}
#f{margin-top:3em;}
#r{margin-top:3em;background-color:#4267b2;}
#a{margin-top:5em;}
#j{color:black;text-decoration:none;}
#y{color:black;text-decoration:none;}
#v{text-decoration:none;}
section{display:grid;grid-template-rows:1;grid-template-columns:30% 20% 30%; margin-left:20%;}
#cont{margin-left:auto;background-color:#f0f0f0;width:60%;margin-right:18%;}
#subclass{display:none;}
#list ul{list-style:none;position:relative;}
#list ul li{margin-left:11em;}
#list ul li a{text-decoration:none;}
#list ul li:hover #subclass{display:block;position:absolute;margin-top:15px;}
#list ul li:hover{border-radius:5em;} 